VITE_SUPABASE_URL=https://izfxvtasfylqalgnkwia.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml6Znh2dGFzZnlscWFsZ25rd2lhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA0MDgwMTQsImV4cCI6MjA3NTk4NDAxNH0.4BkYsJAc7bL4966_oUljaDX7Nr6Ni4jl7Gm0Q35fNrE